<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
          <a href="/docs/providers/lacework/index.html">Lacework Provider</a>
        </li>

        <li>
        <a href="#">Alert Channels</a>
        <ul class="nav">
          <li>
            <a href="#">Resources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/r/alert_channel_aws_cloudwatch.html">lacework_alert_channel_aws_cloudwatch</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_jira_cloud.html">lacework_alert_channel_jira_cloud</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_jira_server.html">lacework_alert_channel_jira_server</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_pagerduty.html">lacework_alert_channel_pagerduty</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_slack.html">lacework_alert_channel_slack</a>
              </li>

            </ul>
          </li>
        </ul>
        </li>

        <li>
        <a href="#">Cloud Account Integrations</a>
        <ul class="nav">
          <li>
            <a href="#">Resources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/r/integration_aws_cfg.html">lacework_integration_aws_cfg</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_aws_ct.html">lacework_integration_aws_ct</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_azure_cfg.html">lacework_integration_azure_cfg</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_azure_al.html">lacework_integration_azure_al</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_gcp_cfg.html">lacework_integration_gcp_cfg</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_gcp_at.html">lacework_integration_gcp_at</a>
              </li>

            </ul>
          </li>
        </ul>
        </li>

        <li>
        <a href="#">Container Registry Integrations</a>
        <ul class="nav">
          <li>
            <a href="#">Resources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/r/integration_docker_hub.html">lacework_integration_docker_hub</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_docker_v2.html">lacework_integration_docker_v2</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_ecr.html">lacework_integration_ecr</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_gcr.html">lacework_integration_gcr</a>
              </li>

            </ul>
          </li>
        </ul>
        </li>

        <li>
        <a href="#">Other Resources</a>
        <ul class="nav">
          <li>
            <a href="#">Data Sources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/d/api_token.html">lacework_api_token</a>
              </li>

            </ul>
          </li>
        </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
