<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
          <a href="/docs/providers/lacework/index.html">Lacework Provider</a>
        </li>

        <li>
        <a href="#">Agents</a>
        <ul class="nav">
          <li>
            <a href="#">Resources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/r/agent_access_token.html">lacework_agent_access_token</a>
              </li>

            </ul>
          </li>
          <li>
            <a href="#">Data Sources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/d/agent_access_token.html">lacework_agent_access_token</a>
              </li>

            </ul>
          </li>
        </ul>
        </li>

        <li>
        <a href="#">Alert Channels</a>
        <ul class="nav">
          <li>
            <a href="#">Resources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/r/alert_channel_aws_cloudwatch.html">lacework_alert_channel_aws_cloudwatch</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_aws_s3.html">lacework_alert_channel_aws_s3</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_cisco_webex.html">lacework_alert_channel_cisco_webex</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_datadog.html">lacework_alert_channel_datadog</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_email.html">lacework_alert_channel_email</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_gcp_pub_sub.html">lacework_alert_channel_gcp_pub_sub</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_jira_cloud.html">lacework_alert_channel_jira_cloud</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_jira_server.html">lacework_alert_channel_jira_server</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_newrelic.html">lacework_alert_channel_newrelic</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_pagerduty.html">lacework_alert_channel_pagerduty</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_qradar.html">lacework_alert_channel_qradar</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_microsoft_teams.html">lacework_alert_channel_microsoft_teams</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_slack.html">lacework_alert_channel_slack</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_service_now.html">lacework_alert_channel_service_now</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_splunk.html">lacework_alert_channel_splunk</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_victorops.html">lacework_alert_channel_victorops</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/alert_channel_webhook.html">lacework_alert_channel_webhook</a>
              </li>

            </ul>
          </li>
        </ul>
        </li>

        <li>
        <a href="#">Cloud Account Integrations</a>
        <ul class="nav">
          <li>
            <a href="#">Resources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/r/integration_aws_cfg.html">lacework_integration_aws_cfg</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_aws_ct.html">lacework_integration_aws_ct</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_aws_eks_audit_log.html">lacework_integration_aws_eks_audit_log</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_aws_govcloud_cfg.html">lacework_integration_aws_govcloud_cfg</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_azure_cfg.html">lacework_integration_azure_cfg</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_azure_al.html">lacework_integration_azure_al</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_gcp_cfg.html">lacework_integration_gcp_cfg</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_gcp_at.html">lacework_integration_gcp_at</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_gcp_gke_audit_log.html">lacework_integration_gcp_gke_audit_log</a>
              </li>

            </ul>
          </li>
        </ul>
        </li>

        <li>
        <a href="#">Container Registry Integrations</a>
        <ul class="nav">
          <li>
            <a href="#">Resources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/r/integration_docker_hub.html">lacework_integration_docker_hub</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_docker_v2.html">lacework_integration_docker_v2</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_ecr.html">lacework_integration_ecr</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_gar.html">lacework_integration_gar</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_ghcr.html">lacework_integration_ghcr</a>
              </li>
              <li>
                <a href="/docs/providers/lacework/r/integration_gcr.html">lacework_integration_gcr</a>
              </li>

            </ul>
          </li>
        </ul>
        </li>

        <li>
          <a href="#">Resource Groups</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/lacework/r/resource_group_account.html">lacework_resource_group_account</a>
                </li>
                <li>
                  <a href="/docs/providers/lacework/r/resource_group_aws.html">lacework_resource_group_aws</a>
                </li>
                <li>
                  <a href="/docs/providers/lacework/r/resource_group_azure.html">lacework_resource_group_azure</a>
                </li>
                <li>
                  <a href="/docs/providers/lacework/r/resource_group_container.html">lacework_resource_group_container</a>
                </li>
                <li>
                  <a href="/docs/providers/lacework/r/resource_group_gcp.html">lacework_resource_group_gcp</a>
                </li>
                <li>
                  <a href="/docs/providers/lacework/r/resource_group_machine.html">lacework_resource_group_machine</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Alert Rules</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/lacework/r/alert_rule.html">lacework_alert_rule</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Alert Profiles</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/lacework/r/alert_profile.html">lacework_alert_profile</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Report Rules</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/lacework/r/report_rule.html">lacework_report_rule</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Team Members</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/lacework/r/team_member.html">lacework_team_member</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Vulnerability Exceptions</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/lacework/r/vulnerability_exception_container.html">lacework_vulnerability_exception_container</a>
                </li>
                <li>
                  <a href="/docs/providers/lacework/r/vulnerability_exception_host.html">lacework_vulnerability_exception_host</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">LQL</a>
          <ul class="nav">
            <li>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li>
                  <a href="/docs/providers/lacework/r/policy.html">lacework_policy</a>
                </li>
                <li>
                  <a href="/docs/providers/lacework/r/query.html">lacework_query</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
        <a href="#">Other Resources</a>
        <ul class="nav">
          <li>
            <a href="#">Data Sources</a>
            <ul class="nav nav-auto-expand">

              <li>
                <a href="/docs/providers/lacework/d/api_token.html">lacework_api_token</a>
              </li>

            </ul>
          </li>
        </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
